<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Properties.Settings>
            <setting name="MainFormTop" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="MainFormLeft" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="MainFormWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MainFormHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ViewPreambles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewAddressing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewTiming" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewStatusBinary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewDecodedData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OptionsTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModeMonitorFrames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumReqPreambles" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PollAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ViewFrameNumbers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonColLinNum" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MonColTime" serializeAs="String">
                <value>SaddleBrown</value>
            </setting>
            <setting name="MonColHeader" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="MonColData" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MonColJabber" serializeAs="String">
                <value>DarkViolet</value>
            </setting>
            <setting name="MonColGarbage" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="MonColError" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="MonColDataSel" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="MonColBack" serializeAs="String">
                <value>Bisque</value>
            </setting>
            <setting name="StatBarColBkNotRec" serializeAs="String">
                <value>Gainsboro</value>
            </setting>
            <setting name="StatBarColBkRecording" serializeAs="String">
                <value>247, 187, 187</value>
            </setting>
            <setting name="ButColBkHot" serializeAs="String">
                <value>PowderBlue</value>
            </setting>
            <setting name="MonColPrimMaster" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="MonColScndMaster" serializeAs="String">
                <value>SaddleBrown</value>
            </setting>
            <setting name="MonColWrongData" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="MonColBusyIndication" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="ColorSet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumRspPreambles" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HartIpHostName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="HartIpAddress" serializeAs="String">
                <value>255.255.255.255</value>
            </setting>
            <setting name="HartIpPort" serializeAs="String">
                <value>5094</value>
            </setting>
            <setting name="HartIpUseAddress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewShortBursts" serializeAs="String">
                <value>True</value>
            </setting>
        </Properties.Settings>
    </userSettings>
</configuration>